:root{
  --primary-color    : #8C0303;
  --secondary-color  : #D93030;
  --tertiary-color   : #E66D5E;
  --quaternary-color : #ffcac3;
  --light-color      : #F2F2F2;
}

*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  background: var(--light-color);
}

main{
  margin: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  margin: 0 !important;
}

.logo{
  height: 180px;
}

.logo img{
  width: 200px;
}

input[type=text], 
input[type=password],
select, textarea{
  border: 0;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  box-shadow: 3px 3px 10px -5px rgba(0,0,0,0.39);
}