.title {
  margin: 10px 0;
  width: 320px;
  text-align: center;
  font-size: 28px;
}

.disclaimer {
  margin: 10px 0;
  width: 90%;
  border-radius: 8px;
  padding: 10px;
  background: var(--quaternary-color);
}

.disclaimer__couple{
  width: 100%;
  font-size: 14px;
}

/* FORMS */
.personal__data {
  padding: 10px;
}

.personal__data-recipient{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input[type="text"],
select,
textarea {
  margin: 10px 0;
}

.name,
.phone {
  width: 100%;
}
.year {
  width: 25%;
}
.classroom {
  width: 70%;
}

/* ORDER */
.message {
  width: 100%;
  padding: 0 10px;
}

.message__field {
  margin: 10px 0;
  width: 100%;
  min-height: 15vh;
  max-height: 15vh;
}

/* Combos */
.combos {
  padding: 0 10px;
}

.additional__field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.additional__btn-add {
  border: 0;
  border-radius: 8px;
  margin: 20px 0;
  width: 300px;
  height: 60px;
}

.additional__btn-remove {
  margin: 10px 0;
  border: 0;
  font-weight: 600;
  background: transparent;
  color: var(--secondary-color);
}

.additional__btn-remove img {
  height: 30px;
}

.additional__select {
  width: 65%;
}

.checkbox__input {
  margin: 15px 10px;
}

/* PAY */
.purchase__amount{
  padding: 0 30px;
}

.purchase__amount h3{
  color: var(--secondary-color);
}

.amount{
  padding: 5px 0;
}

.amount__title{
  font-weight: 600;
  color: var(--primary-color);
}